DEBUG=0
FOUND_OFFERS_FILE=found_offers.txt
REFRESH_INTERVAL_DAYTIME_MINUTES=30
REFRESH_INTERVAL_NIGHTTIME_MINUTES=90
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
DISPOSITIONS=1+kk,1+1,2+kk,2+1
MIN_PRICE=18000
MAX_PRICE=25000
